/*------CONDIÇÕES GERAIS------*/
body,
ul,
li,
a,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  font-size: 1.5rem;
}
html{
    height: 100%;
}

h1{
    text-align: center;
    padding: 20px;
}
