input[type="date"] { 
    position: relative; 
  } 
  input[type="date"]:before { 
    content: attr(placeholder); 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: #fff; 
    color: rgba(0, 0, 0, 0.65); 
    pointer-events: none; 
    line-height: 1.5; 
    padding: 10px 0.5rem 0 0.5rem; 
  } 
  input[type="date"]:focus:before, 
  input[type="date"]:not([value=""]):before 
  { 
    display: none; 
  } 